# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider / VS Code (au cas où)
.idea/
.vscode/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Config sensible
appsettings.json
appsettings.Development.json

# NuGet
*.nupkg
packages/